{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ],
    "react-hot-loader/babel"
  ]
}